footer{
    grid-area: footer;
    display: grid;
    grid-template-areas:
    "contactos"
    "universidad";
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 100%; */
    background:#022855;
    color: #fff;
    align-items: center;
    height: 100%;
}

