footer{
    grid-area: footer;
    display: grid;
    grid-template-areas:
    "contactos"
    "informacion"
    "universidad";
    grid-template-columns: 33% 33% 33%;
    /*grid-template-rows: 100%;*/
    background:#022855;
    color: #fff;
    
}

@media (max-width: 500px){
    footer{
        grid-template-areas:
        "contactos"
        "universidad";
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }
}
