.informacion{
    grid-area:universidad;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-right: 15%;
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
}


@media (min-width: 1000px){
    .informacion{
        font-size: 15px;
        line-height: 0.7;
    }
}


@media (max-width: 1000px) and (orientation: landscape){
    .informacion{
        font-size: 12px;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}