.icono__usuario{
    color: #fff;
    margin-top: .5em;
}

.contenedor__photo{
    display: block;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    border-radius: 0 0 50% 50%;
}
