.formulario{
    background: rgba(0,0,0, 0.7);
    grid-area: formulario_ingreso;
    grid-row-start:2;
    grid-row-end: 3;
    display: grid;
    grid-template-areas:
    "labels"
    "inputs";
    grid-template-columns: calc(50% - 36px) calc(50% - 36px);
    grid-template-rows: repeat(5,1fr);
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-weight: 800;
    box-shadow: 10px 10px 5px black;
    backdrop-filter: blur(3px);
}

@media (min-width: 1000px){
    .formulario{
        grid-column-start:1;
        grid-column-end: 2;
        grid-row-start:1;
        grid-row-end:3;
        margin: 5% 10%;
        border: 1px solid #fff;
        grid-template-columns: 35% 65% ;
        border-radius: 10px;
    }

}


