main{
    background: url('../../img/universidadfondo.png') center / cover no-repeat;
    display:grid;
    grid-template-areas:
    "imagen_usuario"
    "formulario_ingreso";
    grid-template-columns: 100%;
    grid-template-rows: 20% calc(80% - 45px);
}

@media (max-width: 500px){
    main{
        background: url('../../img/fondo movil 1.png') top / cover no-repeat;    
    }
}

@media (min-width: 1000px){
    main{
        background: url('../../img/fondoGrande.jpeg') center / cover no-repeat;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40% 60%;
    }
}